.rw-player
    $border-size: 1px
    $color-white: #fff
    $color-orange: #f7b143
    $color-black: #000
    div#single-song-player
        box-shadow: initial
    #siri-container
        background: $color-orange
    progress.amplitude-song-played-progress
        background-color: $color-white
        border: $border-size solid $color-orange
        width: calc(100% - #{$border-size * 2} )
    div.time-container
        color: $color-black
        display: none
    div.bottom-container
        background-color: $color-white
        border: $border-size solid $color-orange
        width: calc(100% - #{$border-size * 2} )
    div.control-container div.meta-container
        span[data-amplitude-song-info="name"],
        span[data-amplitude-song-info="artist"]
            color: $color-black
